### if

In [1]:
age = int(input("enter your age"))
if age >= 18:
    print("you are an adult")
else:
    print(" you are not an adult")

enter your age28
you are an adult

### elif

In [ ]:
marks = int(input("enter your marks"))
if marks >= 90:
    print("Grade A")
elif marks >= 70:
    print("Grade B")
elif marks >= 60:
    print("Grade C")

### list

In [5]:
names = ["Hyun","jin","Nam"]
print(names[0])

Hyun

In [8]:
numbers = [0,1,2,3,4,5]
numbers[2] = 8
print(numbers)

newnumbers = [2,2,2,2,2]
print(numbers + newnumbers)

[0, 1, 8, 3, 4, 5]
[0, 1, 8, 3, 4, 5, 2, 2, 2, 2, 2]

In [10]:
fruit = ["apple","mango","banana"]
print("orang" in fruit)
print("apple" in fruit)

False
True

In [12]:
fruit.append("peach")
print(fruit)
print(len(fruit))

['apple', 'mango', 'banana', 'peach', 'peach']
5

In [13]:
fruit.insert(1,"blueberry")
print(fruit)

['apple', 'blueberry', 'mango', 'banana', 'peach', 'peach']

In [15]:
print(fruit.index("blueberry"))

1

### range

In [24]:
numbers = list(range(10))
print(numbers)

numbers = list(range(0,30))
print(numbers)

numbers = list(range(1,30))
print(numbers)

numbers = list(range(5,30))
print(numbers)

numbers = list(range(1,30,2))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

### def

In [25]:
def thisfunction():
    print("a")
    print("b")
    print("c")

In [26]:
thisfunction()

a
b
c

### for

In [29]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [32]:
fruits = ["apple","banana","blueberry"]

for x in fruits:
    print(x)

apple
banana
blueberry

In [ ]:
fruits = ["apple","banana","blueberry"]

for x in fruits:
    print(x)

### Boolen

In [2]:
username = "admin1"
password = "admin123"

if username == "admin" and password == "admin123":
    print("valid user")
else:
    print("invalid user")

invalid user

### while

In [3]:
counter = 0
while(counter < 10):
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10

## quiz

1. Create a list of your favorite food items, the list should have minimum 5 elements.
2. List out the 3rd element in the list.
3. Add additional item to the current list and display the list.
4. Insert an element named tacos at the 3rd index position of the list and print out the list elements.

In [7]:
food = ["a","b","c","d","e"]
food[2]
food.append("f")
food[2] = "tacco"
print(food)

['a', 'b', 'tacco', 'd', 'e', 'f']

Task no 1: Using a for-loop and a range function, print "I am a programmer" 5 times.

In [10]:
for i in range(5):
    print("Hyunjin")

Hyunjin
Hyunjin
Hyunjin
Hyunjin
Hyunjin


Task no 2: Create a function which displays out the square values of numbers from 1 to 9.

In [37]:
def square_function(a):
    return(a*a)

In [39]:
for i in range(1,10):
    print(square_function(i))

1
4
9
16
25
36
49
64
81